*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    background: #066acd;

}
#welcome{
    width: 100vw;
    height: 100vh;
    background: #066acd;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}
.scene2{
    display: none;
}
/* .content{
  background-image: url('screen-1-657630575b8ae617602814.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
} */
.container {
    
    background-color: white;
    display: none;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    background: #066acd;
    
}
  
.row{
    width: 70%;
    height: 300px; 
    
    padding: 10px;
}
#btns{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#row1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}
#resultGame{
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.joue {
    all: unset;
  }
img { width: 100px }
.btn:hover{
    transform: scale(110%);
    cursor: pointer;
  }

#msg{
  font-size: large;
  
}
  #footerContent{
    display: flex;
    justify-content: space-around;
  }

  .joueurs{
    display: none;
  }
#imageEmpty{
  display: none;
}
  #newGame{
    display: none;
  }